body{
    background-image: url(images/saylani.jpeg);
    background-position: center; 
    background-repeat:no-repeat ;
    font-family:Arial, Helvetica, Century;
    font-weight: 100;    
}
#label1{
    color: blue;
    display: block;    
}

.selector1 {    
       display: inline-block;
       
}
#drop1{ 
    width: 350px;
 height: 45px;
   border-color: rgba(156, 248, 19, 0.582);
   color: gray; 
   margin-bottom: 50px;
    
}


#label2{
    color: blue;
  margin-bottom: 5px;

}
.selector2{
   display: inline-block;
   margin-left: 25%;
   justify-content: center;
}
#drop2{
    width: 120%;
    height: 45px;
    border-color: rgba(156, 248, 19, 0.582);
    color: gray; 
 }

#picture1{
    margin-top:100px;
    width: 120px;
    height: 80px;
    border: solid black 1px;
    padding-top: 60px;
    padding-left: 20px;
    margin-left :20px; 
}

#radio1{
    padding-top: 100px;
}

#ul1{
    list-style-type: none;
        
}

#ol1{
    margin-bottom: 10%;
}
#button1{
   width: 13%;
    height: 50px;
    border: black solid 1px;
    color: rgb(1, 0, 0);
    margin-bottom: 56px;
   
}
#button1:hover{
    
    transition:10s;
    background-color: aqua;
    color: blue;
    cursor: pointer;

}
#file1{
   width: 20%;
   height: 50px;
}
